@import "../../../../Global";

.questionsContainer {
  max-width: 1200px;
  margin: 5rem auto;
  padding: 2rem;
}

.questionsTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.searchBar {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  border: 1px solid #d1d0d0;
  background-color: #f8f8f8;
  font-size: 1rem;
  transition: box-shadow 0.3s ease;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }
}
.correctAnswer {
  color: #088f8f;
  font-weight: 600;
}

.distractors {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.distractor {
  background-color: #f1f1f1;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.9rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.fixedButton {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  margin: 1rem;
  z-index: 1;
}

.createQuestionBtn {
  color: black;
  font-weight: $button-font-weight;
  padding: $button-padding;
  border: 1px solid #0c1a25;
  border-radius: $button-border-radius;
  cursor: pointer;
  box-shadow: $button-shadow-black;
  transition: 0.15s background-color ease-in-out;
  background: white;

  &:hover {
    transition: 0.15s background-color ease-in-out;
    background-color: #0c1a25;
    color: white;
  }
}

.pagination {
  --bs-pagination-color: #0c1a25;
  --bs-pagination-hover-color: #0c1a25;
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-border-color: #06a53b;
  --bs-pagination-active-bg: #17b42c;
  --bs-pagination-hover-bg: #17b42c;
}

@media (max-width: 768px) {
  .distractors {
    flex-direction: column;
  }
}
