@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1.5rem;
  margin-top: 0.5rem;

  font-family: "Inter", sans-serif;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  width: 20%;
}

.container img {
  width: 100%;
  height: 80%;
  border-radius: 10px 10px 0 0;
  opacity: 0.9;
}
.categoryDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  width: 100%;
  min-height: 200px;
  max-height: 20%;
}

.categoryDetails h3 {
  font-size: 1.5rem;
  margin: 0.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.categoryDetails p {
  font-weight: 400;
  color: #666;
  margin-bottom: 0.5rem;
}
.container:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}
@media screen and (max-width: 900px) {
  .categoryDetails h3 {
    font-size: 1.2rem;
  }
  .container {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .categoryDetails h3 {
    font-size: 1rem;
  }
  .container {
    width: 70%;
  }
}
