@import "../../../../../styles/Global";

.modalBody {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

}

.modalButtons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.modalConfirmBut {
  background-color: $green;
  border: none;
  padding: $button-padding;
  box-shadow: $button-shadow-green;
  color: white;
  border-radius: $container-border-radius;
  font-size: $button-font-size;
  font-weight: $button-font-weight;

  &:hover {
    background-color: $button-green-hover;
    color: white;
  }
}

.modalCancelBut {
  background-color: #999;
  border: none;
  color: white;
  padding: $button-padding;
  box-shadow: $button-shadow-black;
  font-size: $button-font-size;
  border-radius: $container-border-radius;
  font-weight: $button-font-weight;

  &:hover {
    background-color: #888;
    color: white;
  }
}

.previewImage {
  max-width: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.label {
  font-size: 1rem;
  margin-top: 0.5rem;
  text-align: center;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}


.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.loadingText {
  color: black;
  margin-top: 10px;
  font-size: 16px;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;

}

.customFileUpload {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.customFileUpload:hover {
  background-color: #0056b3;
}

.customFileUpload:active {
  transform: scale(0.98);
}

.fileInput {
  display: none; /* Hide the file input */
}

.formElement {
  display: flex;
  flex-direction: column;


}

@media (max-width: $phone-breakpoint) {
  .modalConfirmBut {
    font-size: $button-phone-font-size;
    padding: $button-phone-padding;
  }

  .modalCancelBut {
    font-size: $button-phone-font-size;
    padding: $button-phone-padding;
  }
}