@import "../../styles/Global";
@import "../game-stats/Stats.module.scss";

.profileBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $gray;
  border-radius: $container-border-radius;
  padding: 0.75rem;
  margin-top: 1rem;
  align-items: center;
}
.iconAndName {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.profileIcon {
  display: flex;
  font-size: 3rem;
  color: #fff;
  background-color: #5596ca;
  border-radius: 50%;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  width: 3.5rem;
  height: 3.5rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

.nameEmail {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profileName {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.editIcon {
  cursor: pointer;
  color: #999;
  font-size: 0.9rem;
  margin-left: 0.25rem;
}
.profileEmail {
  color: #999;
  font-size: 0.9rem;
  margin-top: -0.4rem;
}

.changePass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: $container-border-radius;
  padding: 0.25rem 0.5rem;
  gap: 0.25rem;
  font-size: 0.8rem;
  font-weight: 600;
  border: none;
}

.lockIcon {
  font-size: 1rem;
}

.friendsText {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 1rem;
  color: $blue;
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.friendsBox {
  margin-top: 1rem;
  background-color: $gray;
  border-radius: $container-border-radius;
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  align-items: flex-start;
  justify-content: center;
}

.addFriends {
  background-color: white;
  border-radius: $container-border-radius;
  padding: 0.3rem 0.75rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: #999;
  margin-bottom: 0.5rem;
}
.friend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: $container-border-radius;
  padding: 0.75rem;
  width: 100%;
  margin-bottom: 0.5rem;
}
.friendIconNick {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.friendIcon {
  display: flex;
  font-size: 1.5rem;
  color: #fff;
  background-color: #ca5555;
  border-radius: 50%;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

.nickStatus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0.5rem;
}
.rightSide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.friendNick {
  font-size: 0.9rem;
  font-weight: 600;
}
.statusOnline {
  font-weight: 800;
  color: $green;
  font-size: 0.7rem;
  margin-top: -0.25rem;
}
.circle {
  font-size: 0.5rem;
  margin-right: 0.25rem;
}

.invite {
  border: none;
  background-color: $gray;
  border-radius: $container-border-radius;
  padding: 0.3rem 0.5rem;
  font-weight: 500;
  font-size: 0.8rem;
}

.gamePad {
  font-size: 1.5rem;
  margin-right: 0.1rem;
}

.friendModal {
  border: none;
  border-radius: $container-border-radius;
  font-size: 1.2rem;
  background-color: $gray;
  padding: 0rem 0.3rem;
}

.inviteF {
  background-color: $green;
  border: none;
  border-radius: $container-border-radius;
  color: white;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
}

.friendBut {
  background-color: white;
  border: none;
  border-radius: $container-border-radius;
  padding: 0.3rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove {
  font-size: 1.5rem;
}

.friendRanking {
  background-color: $gray;
  border-radius: $container-border-radius;
  margin-top: 1rem;
  padding: 1rem;
}

.friendStats {
  background-color: white;
  border-radius: $container-border-radius;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 1rem;
}

@media (max-width: $phone-breakpoint) {
  .friendsText {
    font-size: 1.15rem;
  }
  .profileName {
    font-size: 1rem;
  }

  .profileEmail {
    font-size: 0.7rem;
  }
  .changePass {
    font-size: 0.7rem;
  }
}

@media (max-width: $small-phone-breakpoint) {
  .profileBox {
    overflow-y: auto;
    flex-wrap: wrap;
  }

  .friend {
    overflow-y: auto;
    flex: wrap;
  }
}
