@import "./Global.scss";

.categoryChoiceBox {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
}

.choice {
  background-color: $gray;
  border-radius: $container-border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: $container-font-weight;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  border: 2px solid #f0f4f3;
  font-size: 1rem;
  margin: 1rem;
}

.categoryIcon {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.choice:hover {
  border: 2px solid #2bc440;
}
