@import "./Global.scss";

.mainContainer {
  height: 60vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  padding: 0;
  margin-bottom: 10%;
  margin-top: 2rem;
}

.mainBox {
  margin: 0;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.categoryChoiceBox {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
}

.choice {
  background-color: $gray;
  border-radius: $container-border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: $container-font-weight;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  border: 2px solid #f0f4f3;
  font-size: 1rem;

  &:hover {
    border: 2px solid #2bc440;
  }

  &.selected {
    border: 2px solid #2bc440;
  }
}

.categoryIcon {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}
