$sidebar-width: 90px;
$sidebar-half-width: 45px;

.create-container {
    position: relative; 
    height: calc(100vh - 90px); 
    overflow: hidden; 
}

.create-box {
    background-color: #fff; 
    padding: 2rem; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    position: absolute; 
    top: 50%; 
    left: calc(50% + #{$sidebar-half-width}); 
    transform: translate(-50%, -50%); 
    width: calc(100% - #{$sidebar-width}); 
    max-width: 800px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    overflow-y: auto;
    max-height: 100%;
}

.create-text {
    background-color: #0C1A25;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 2.5rem; 
    font-weight: 600;
    padding: 0.5rem; 
    font-style: italic;
    margin-bottom: 0.25rem;
}

.mode-text {
    text-align: center;
    font-size: 1.25rem; 
    font-weight: 600;
    padding: 0.5rem; 
    margin-bottom: 2rem;
}

.mode-selection-text {
    font-size: 1.5rem; 
    font-weight: 300;
}

.selection-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.selection-boxes > div {
    flex: 1 1 calc(33% - 30px);
    padding: 1rem;
    background-color: #F0F4F3;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.selection-boxes > div:hover {
    background-color: rgba(43, 196, 64, 0.9);
}

.selection-boxes .single-player,
.selection-boxes .multi-player,
.selection-boxes .ranked {
    display: block; 
    margin-top: 1rem; 
    font-size: 5rem; 
}

// Media query dla ekranów mniejszych niż 1000px
@media (max-width: 1000px) {
    .create-box {
        width: calc(100% - #{$sidebar-width}); 
        max-width: 60%; 
        padding: 1.5rem; 
    }

    .create-text {
        font-size: 2rem; 
    }

    .mode-text {
        font-size: 1rem; 
    }

    .mode-selection-text {
        font-size: 1.25rem; 
    }

    .selection-boxes {
        gap: 20px; 
    }

    .selection-boxes > div {
        padding: 0.75rem; 
    }

    .selection-boxes .single-player,
    .selection-boxes .multi-player,
    .selection-boxes .ranked {
        font-size: 4rem; 
    }
}
