@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

html,
body {
  font-family: "Chakra Petch", sans-serif;
  background-color: #f0f4f3;
  color: #0c1a25;
  font-size: 16px;
  overflow-x: clip;
}

//colors
$green: #06a53b;
$blue: #0c1a25;
$gray: #f0f4f3;
$red: #ff4949;
$green-black: #2bc440;
$button-gray: #e6e3e3;
$button-green-hover: #17b42c;
$button-gray-hover: #d9d9d9;

//SideBar
$sidebar-width: 72px;
$sidebar-half-width: 36px;

//Buttons
$button-padding: 0.5rem 1rem;
$button-font-size: 1rem;
$button-font-weight: 500;
$button-shadow-black: 0 2px 4px rgba(0, 0, 0, 0.2);
$button-shadow-green: 0 4px 8px rgba(63, 155, 55, 0.26);
$button-border-radius: 10px;

// phone buttons - width max 768px
$button-phone-padding: 0.5rem 0.9rem;
$button-phone-font-size: 1rem;

//container
$container-border-radius: 10px;
$container-font-size: 2.15rem;
$container-font-weight: 500;

//input
$code-phone-font-size-500: 1rem;
$code-phone-font-size-300: 0.5rem;

//phone input
$input-phone-font-size: 1rem;
$input-phone-padding: 0.5rem;

// breakpoints
$small-phone-breakpoint: 320px; // maximum width for a small phone screen
$phone-breakpoint: 768px; // maximum width for a phone screen
$rotated-phone-breakpoint: 720px; //max height for a rotated phone screen
$desktop-breakpoint: 769px; // minimum width for a desktop screen
$large-desktop-breakpoint: 2000px; // minimum width for a large desktop screen (4k)

.mainContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 7rem;

  &:not(.fixed) {
    align-items: center;
  }
}

.mainBox {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80vw;
  max-width: 600px;
  height: fit-content;
  transition: transform 0.5s ease-in-out,
  opacity 0.5s ease-in-out;

  max-height: calc(100vh - 7rem);
}

.mainText {
  background-color: $blue;
  border-radius: $container-border-radius;
  color: white;
  text-align: center;
  font-size: $container-font-size;
  font-weight: $container-font-weight;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

* {
  &::-webkit-scrollbar {
    width: 10px;
    margin-right: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #c5c5c5;
  }
}

.modal,
.sidebarContainer {
  padding-left: $sidebar-width;
}

@media (max-width: 1400px) {
  html {
    font-size: 14px !important;
  }
}

@media (max-width: $phone-breakpoint) {
  html {
    font-size: 12px;
  }

  .modal,
  .sidebarContainer {
    padding-left: 0;
  }

  .mainContainer {
    align-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .mainBox {
    width: 90vw;
    padding: 1rem;
    max-height: calc(100dvh - 10rem);
  }

  .mainText {
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
  }
}

@media (min-width: $large-desktop-breakpoint) {
  .mainBox {
    scale: 1.2;
  }
}

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  border: none;


  &.primary {
    background-color: $green;
    color: white;

    &:hover {
      background-color: $green-black;
      box-shadow: $button-shadow-black;
    }
  }

  &.secondary {
    background-color: $button-gray;
    color: $blue;

    &:hover {
      background-color: $button-gray-hover;
      box-shadow: $button-shadow-green;
    }
  }
}