
.headerTopStrip {
    background-color: #0C1A25; 
    color: white; 
    padding: 1rem;
  }
  
  .headerContent {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
    padding: 0 1rem;
  }
  
  .logo {
    font-size: 60px; 
    padding: 0; 
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .iconContainer {
    display: flex; 
  }
  
  .iconContainer .gap15 {
    margin-left: 15px;
  }
