@import "./Global.scss";

.headerTopStrip {
  background-color: $blue;
  color: white;
  padding: 1rem;
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.logo {
  font-size: 2.5rem;
  padding: 0;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.fancyLogo {
  display: flex;

  div {
    transition: color 0.1s ease, padding 0.1s ease, margin 0.1s ease;

    &.space {
      width: 0.5rem;
    }
  }

  span:hover {
    color: $green;
  }
}

.iconContainer {
  display: flex;
}

.iconSize {
  font-size: 2rem;
}

.iconContainer .gap15 {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.profile {
  cursor: pointer;
  background-color: $blue;
  border: none;
  padding: 0;
}

.loginButton {
  border-radius: $button-border-radius;
  border: none;
  padding: $button-padding;
  background-color: $green;
  color: white;
  font-weight: $button-font-weight;
  font-size: $button-font-size;
  box-shadow: $button-shadow-green;
  transition: .15s background-color ease-in-out;
}

.loginButton:hover {
  background-color: #06a53bce;
}

.dropdownItemCustom {
  font-size: 1rem;

  &:active {
    background-color: #0c1a25c0;
  }
}

@media (max-width: 500px) {
  .loginButton {
    padding: $button-phone-padding;
    font-size: $button-phone-font-size;
  }
}

@media (max-width: 300px) {
  .headerTopStrip {
    width: 100%;
    padding: 0.5rem;
  }

  .headerContent {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  .logo {
    font-size: 2rem;
  }

  .iconContainer {
    font-size: 0.25rem;
    justify-content: flex-end;
    width: 100%;
  }

  .iconSize {
    font-size: 1.5rem;
  }

  .loginButton {
    font-size: 0.5rem;
  }
}

@media (min-width: 2000px) and (min-height: 1000px) {
  .logo {
    font-size: 3.5rem;
  }

  .iconSize {
    font-size: 2.5rem;
  }
}
