@import "./Global.scss";

.mainContainer {
  left: $sidebar-width;
}

.selectionBoxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 1rem;
}

.createButton {
  text-align: center;
  margin-top: 1rem;
}
.createButton button {
  background-color: $green-black;
  color: black;
  font-weight: $button-font-weight;
  padding: $button-padding;
  border: none;
  border-radius: $button-border-radius;
  cursor: pointer;
  box-shadow: $button-shadow-black;

  &:hover {
    background-color: $button-green-hover;
  }
}
.selectionBoxes input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  width: 50%;
  transition: border-color 0.3s ease;
}

@media (max-width: 500px) {
  .mainContainer {
    left: 0;
  }
}
