@import "./Global.scss";

.question {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0;
}

.answersBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  background-color: #f0f4f3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
  overflow-y: auto;
}

.answerBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 0.75rem;
  margin-top: 1rem;
  font-weight: 400;
  width: 95%;

  &.selected {
    box-sizing: border-box;
    border: 1px solid #2bc440;
  }

  &.correctAnswer {
    background-color: #2bc440;
  }

  &.incorrectAnswer {
    background-color: #FF4949;
  }
}

.lifebouys {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  right: 2.5rem;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .mainContainer {
    height: calc(60vh - $sidebar-width);
  }

  .lifebouys {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
}
