.sidebar {
    width: 90px; 
    background-color: #0C1A25; 
    color: white;
    padding: 2.5rem; 
    height: calc(100vh);;
    position: absolute; 
    top: 90px; 
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: none; /* Usuń wszelkie obramowania */
    box-shadow: none; /* Usuń cień, jeśli jest obecny */
  }
  
  ul {
    list-style-type: none; 
    padding: 0;
  }
  
  li {
    margin-bottom: 1rem;
  }

  .sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .sidebar-icon {
    font-size: 3rem; /* Rozmiar ikon */
    margin-bottom: 0; /* Odstęp między ikoną a podpisem */
  }
  
  .sidebar-label {
    font-size: 0.75rem; /* Rozmiar podpisu */
  }

  .sidebar-link{
    color: white;
    text-decoration: none;
  }