@import "Global.scss";

.timeBarWrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  margin-bottom: 2rem;
  z-index: 998;
  margin-top: 2rem;
}

.timeBarContainer {
  width: 80%;
  max-width: 600px;
  height: 1rem;
  background-color: #ffffff;
  position: relative;
  border-radius: $container-border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timeBarFiller {
  height: 100%;
  background-color: #0c1a25;
  transition: width 0.25s ease;
  overflow: hidden;
  max-width: 100%;
  border-radius: $container-border-radius;
}

@media (max-width: 500px) {
  .timeBarContainer {
    width: 60%;
    height: 0.75rem;
  }
}

@media (max-width: 300px) {
  .timeBarContainer {
    height: 0.5rem;
    margin-top: -1rem;
  }
}

@media (min-height: 1100px) {
  .timeBarWrapper {
    margin-top: 3rem;
  }
}
