$sidebar-width: 90px;
$sidebar-half-width: 45px;

.queueContainer {
  position: relative;
  height: calc(100vh - 90px);
  overflow: hidden;
}

.queueBox {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: calc(50% + #{$sidebar-half-width});
  transform: translate(-50%, -50%);
  width: calc(100% - #{$sidebar-width});
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  max-height: 100%;
}

.queueText {
  text-transform: uppercase;
  background-color: #0c1a25;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 0.5rem;
  font-style: italic;
  margin-bottom: 0.25rem;
}

.code {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0;
}

.line {
  margin-top: 0.5rem;
  border-bottom: 1px solid #888;
}

.playersBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  background-color: #f0f4f3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
  overflow-y: auto;
}

.singlePlayer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding: 0.75rem;
  margin-top: 1rem;
  font-weight: 300;
  width: 95%;
}

.playerNickname {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 300;
  align-items: center;
}

.playerAction {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  align-items: center;
  cursor: pointer;
  background-color: #f0efef;
  border-radius: 5px;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  gap: 3rem;
  font-size: 1rem;
  font-weight: 500;
}

.buttonStart {
  background-color: #2bc440;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttonStart:hover {
  background-color: #189929;
}

.buttonLeave {
  background-color: #e6e3e3;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttonLeave:hover {
  background-color: #d9d9d9;
}
