@import "../../../../styles/Global";

.lifeBouyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80px;
  height: 80px;
  z-index: 999;
  position: relative;
}

.lifeBouyIcon {
  color: black;
  text-align: center;
  font-size: 2.5rem;
}

.tooltip {
  position: absolute;
  left: 265%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.875rem;
  white-space: nowrap;
  opacity: 0; /* Initially hidden */
  visibility: hidden;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
}

.lifeBouyContainer:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

@media (max-width: $phone-breakpoint) {
  .lifeBouyContainer {
    width: 60px;
    height: 60px;
    margin-bottom: 0.5rem;
  }

  .lifeBouyIcon {
    font-size: 2rem;
  }

  .tooltip {
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.75rem;
    z-index: 1100;
    text-align: center;
  }
}

@media (max-width: $small-phone-breakpoint) {
  .lifeBouyContainer {
    width: 50px;
    height: 50px;
  }

  .lifeBouyIcon {
    font-size: 1.5rem;
  }
}
