// src/pages/profile/Edit/ChangePasswordModal.module.scss

@import "../../../styles/Global.scss";

.modalBody {
  padding: 1rem 2rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s;

    &:focus {
      border-color: #5596ca;
    }
  }
}

.errorInput {
  border-color: rgb(172, 24, 24);
}

.error {
  color: rgb(172, 24, 24);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.modalActions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cancelButton,
.confirmButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: $container-border-radius;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cancelButton {
  background-color: $button-gray;
  color: black;
  box-shadow: $button-shadow-black;

  &:hover {
    background-color: $button-gray-hover;
  }
}

.confirmButton {
  background-color: $green-black;
  color: black;
  box-shadow: $button-shadow-green;

  &:hover {
    background-color: $button-green-hover;
  }
}
