@import "../../../styles/Global.scss";

.modalActions {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
}

.cancelButton {
  background-color: $button-gray;
  font-weight: $button-font-weight;
  border: none;
  box-shadow: $button-shadow-black;
  color: black;
  font-size: $button-font-size;
  padding: $button-padding;
  border-radius: $button-border-radius;

  &:hover {
    background-color: $button-gray-hover;
    color: black;
  }
}

.confirmButton {
  background-color: $green-black;
  font-weight: $button-font-weight;
  border: none;
  box-shadow: $button-shadow-green;
  color: black;
  font-size: $button-font-size;
  padding: $button-padding;
  border-radius: $button-border-radius;

  &:hover {
    background-color: $button-green-hover;
    color: black;
  }

  &:after {
  }
}

.customForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formLabel {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.25rem;
}

.formControl {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s;

  &::placeholder {
    color: #666;
  }

  &:focus {
    border-color: #5596ca;
  }
}

.errorInput {
  border-color: rgb(172, 24, 24);
}

.error {
  color: rgb(172, 24, 24);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
