@import "../../styles/Global.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.mainContainer {
  left: $sidebar-width;
}

.createText {
  background-color: #0c1a25;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 0.5rem;
  font-style: italic;
  margin-bottom: 0.25rem;
}

.modeText {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.modeSelectionText,
a {
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;
}

.selectionBoxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.selectionBoxes > div,
.selectionBoxes > div > a {
  flex: 1 1 calc(33% - 30px);
  padding: 1rem;
  background-color: #f0f4f3;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  color: black;
}

.selectionBoxes > div:hover,
.selectionBoxes > div > a:hover {
  background-color: rgba(43, 196, 64, 0.9);
}

.selectionBoxes .singlePlayer,
.selectionBoxes .multiPlayer,
.selectionBoxes .ranked {
  display: block;
  margin-top: 1rem;
  font-size: 5rem;
}

// Media query dla ekranów mniejszych niż 1000px
@media (max-width: 1000px) {
  .createBox {
    width: calc(100% - #{$sidebar-width});
    max-width: 60%;
    padding: 1.5rem;
  }

  .createText {
    font-size: 2rem;
  }

  .modeText {
    font-size: 1rem;
  }

  .modeSelectionText {
    font-size: 1.25rem;
  }

  .selectionBoxes {
    gap: 20px;
  }

  .selectionBoxes > div {
    padding: 0.75rem;
  }

  .selectionBoxes .singlePlayer,
  .selectionBoxes .multiPlayer,
  .selectionBoxes .ranked {
    font-size: 4rem;
  }
}

@media (max-width: 500px) {
  .mainContainer {
    left: 0;
  }
  .selectionBoxes .singlePlayer,
  .selectionBoxes .multiPlayer,
  .selectionBoxes .ranked {
    font-size: 2.5rem;
  }

  .modeSelectionText {
    font-size: 1rem;
  }

  .modeText {
    font-size: 1rem;
  }
}
