@import "../../../styles/Global.scss";

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5rem auto;
  gap: 2rem;
}

.fixedButton {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  margin: 1rem;
}

.createCategoryBtn {
  color: black;
  font-weight: $button-font-weight;
  padding: $button-padding;
  border: 1px solid #0c1a25;
  border-radius: $button-border-radius;
  cursor: pointer;
  box-shadow: $button-shadow-black;
  transition: 0.15s background-color ease-in-out;
  background: white;


  &:hover {
    transition: 0.15s background-color ease-in-out;
    background-color: #0c1a25;
    color: white;
  }
}

.catBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 200px;
}

.categoryImage {
  min-height: 22vh;
  max-width: 200px;
}

.categoryDetails {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  width: 100%;
  max-height: 20%;
  min-width: 10vw;
}


.categoryName {
  font-size: 1.4rem;
  font-weight: 600;
  color: $blue;
}

.categoryDesc {
  font-size: 1rem;
  font-weight: 400;
  color: $blue;
}
