@import "../../../styles/Global.scss";

.questionsContainer {
  max-width: 1200px;
  margin: 5rem auto;
  padding: 2rem;
}

.questionsTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.searchBar {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  border: 1px solid #d1d0d0;
  background-color: #f8f8f8;
  font-size: 1rem;
  transition: box-shadow 0.3s ease;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }
}
.correctAnswer {
  color: #088f8f;
  font-weight: 600;
}

.distractors {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.distractor {
  background-color: #f1f1f1;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.9rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .questionsTable {
    font-size: 0.9rem;

    th,
    td {
      padding: 0.75rem 0.5rem;
    }
  }

  .distractors {
    flex-direction: column;
  }
}
